body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #333333;
    width: 100%;
    height: 60vh;
    background-image: url(https://ld-wp.template-help.com/wordpress_63891/wp-content/uploads/2016/10/bg.jpg);
    background-size: cover;
}

h1 {
    margin: 0;
}

.container {
    margin: 12% 0 20px 10%;
    font-size: 40px;
}

.top-word {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
}

.bottom-word {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 70px;
}


