.outter-container {
    background-image: url(img1.jpeg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 760px;
    position: relative;
}

.inner-container1 {
    position: absolute;
    bottom: 0;
    background-color: rgb(57, 168, 57);
    color: white;
    padding: 25px 0 25px 50px;
    width: 950px;
}

.inner-container2 {
    position: absolute;
    background-color: rgb(42, 42, 141);
    color: white;
    padding: 3px 30px;
    font-size: 25px;
    top: 585px;
    right: 0;
}