body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
}

.square {
    position: relative;
    width: 1440px;
    height: 100px;
    margin: auto;
    background-color: azure;
}

.header {
    box-sizing: border-box;
}

.header-links {
    color: black;
    text-decoration: none;
}

.header-left {
    width: 250px;
    height: 100px;
}

.logo {
    display: block;
    margin: 29px auto 29px 60px;
}

li {
    display: inline-block;
}

.header-right, .header-left{
    display: inline-block;
}

.header-right {
    position: absolute;
    right: 0;
    margin-right: 60px;
}


.header-right li {
    font-size: 20px;
    margin: 40px 20px 40px;
}
