.send-btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}

.input1 {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}

.input2 {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}

/* Псевдоклассы */
.send-btn:hover {
    background-color: tomato;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

/* .send-btn:active {
    background-color: tomato;
    color: black;
    border: 1px solid black;
    cursor: pointer;
} */

.input2:focus {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.txt p:first-child {
    background-color: red;
}

.txt p:last-child {
    background-color: green;
    color: white;
}

.txt p:nth-child(2), .txt p:nth-child(4) {
    background-color: green;
}

/* .txt p:not(:nth-child(2)) {
    background-color: red;
} */

/* Псевдоэлементы */
/* .first-line::first-line {
    background-color:blueviolet;
} */

.first-line::first-letter {
    font-size: 30px;
    font-weight: 900;
    color: red;
}

.first-line::selection {
    background-color: red;
}

.input1::placeholder {
    color: white;
  }

.input1 {
    outline: none;
}

.first-line::after {
    content: '+';
}

.first-line::before {
    content: '+';
}

ul {
    list-style: none;
}

li::before {
    content: '\2713';
    padding-right: 5px;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAkFBMVEUFn/b///8Anvb///0Amvb///sAnPYAmfb///kAnvUAl/UAmfUAmvRBrvff8f6h0/tYtfiKyfrp9f6RzPpguPjE4vy43fw5q/cPovYipve84Px+xPlvvvnM5/f3/Pqk0/bW7Pjv+PrC4vZuvPGWzfTd7/en1vPw+PsAkvOczvjv9/ag0/Vft/KNx/m83fswqvrGuFVJAAALI0lEQVR4nO2diXravBKG7dHiTcbGBiyzmCVA2iT9uf+7OzJLYsCAN3k7efs8TZO24A9JMyNpNFLU13hjZzayQ660Bx7ao5kz9jI8vfLi7weOCyZmANC0qBsAKMMmuM6gjMLBkGusbdKuAaZx/6nIJwontkbbLe8EMNOeFFDoKFoX5J0ATXFyKpwouOmnzgdg5UE7piocBFZ32u8CaEHqeExTODS7py8GzGEmhd6hYx00AT7ce8g7hdMOGZh7QJu+UuibTT9kSUz/ucK51vQTlsaaP1M46u4Q/AGPHivshcBbiUmF834IFBLn6Qo7b2R+0Pw0hdP+CBQWdXqv0Ou+FU2ieXcKD1129PfA4VbhsC9W5gIeXisc9GkQnjAHVwqDfvXRGAiSCif9MjMntElCodK/JhSNqPwodPpmZk5g51th048iiVMjKn0dhTHHkRgrtPs4CmPAPinsoS+8oA2OCoe06QeRBh0eFfK+dlLRTXmssMed9NhNFdVhTT+GRJgjFLr97aSim7pCYZ8FComq4vV5GMZzfWXcz5j0Ah4rvTY0salRZv319zEwU0Y9tzQjpbdh9wmwlbDpZ5BMqLQp00kGfdf3yy+//PLLL7+0C4jTfS2LMk38YhR46/Kuy0Extf9NVt57FEVrb7ycBSYzmn6o6jCYMlsgHSFEEFLR6et6OsLPk7ChK3uCoNlTIU+9RdfXfzl+KIKGb3U+ZWGAM3tB1Ht9qviZ+Omepy5BcA0c0o1lUFCmOknTd4bo/n1CNmC6jcha3iJhdTMusN7IY3XnptwF9OodDStcIqISaQtMEERhRVYOrH16B71SSMjsknceexTT3ZDYIEVWNQ9xD96QXTWuCozVyxY8sT8ZHOEwbWd9+j+6vD3BEKlkUUUyv6F4r9rv0oxoyoBaxmj5HvuS4888BpLWJ/AyfssK8hiBr7PpiyGbL2eFEiYJyTOkLDq+475scgMYWVvw1IrfjXdSPMGyIh4YnXwzWZZsRWuRXd89O3kL9fiSmYqcMrYM6DYliskKqcyap2C+nwWWakUw3IxWNAXx1u5ZoITpBw1+Pkh1X7wVtXXxFkT66NxHgRpu1QYV5glzRsZFzQ3dFm9Cgs4CweLbyK26u+Lt1We/KtZNQNGLt2Bks9j3Yz5c6Lpf+SFXOk4qRMgLCxg1zpYFm1BMHFecUWbZ/ir2H5VEHtfgxfX4QcR9PIN7CC3ahCga/gm//m4iXYTeKno3qg9r8J2bJn7uwUjTzkFmY7GIftTqtgSvaN0rJJu8g9HcFVYoJhrff9S/ZARu5vu9lScfbi63AYfidiYpdiglK9ZMCSbF8HfMHIE+9Yu7ip83JZ+mlLmFtUr11GRnZ89ZMRcVKFT3ktYwbm3p5RNFZMtoxs/UitJeIg/i7fayjpuzyYNoC5H3Ly1bfBGkv0IuiZ/S0pzg35O33RyyVAmB+eOXyCYPEYknJeHJnEBY8j1//dnC7Vnr3Ap1qcexjefvThzjlUb2sERHNsh7IDVPjaUb05/PN3I4Np51Vvak0EoWgQv+9OVLo21fumt9f3hWlgH/V0rgXnJFIFDClwqRiPlH7GFPKqdQl59KaT7vpudPmqydwEp/FlqqlxL5h0PgLYPC+J+QgR9acO8i8bL4AkY8lZGfDsveMz4M0vXd1rYwFXOPRLgDftsV0mGuqcF6MwyYxn5mWOU8PqrjCBP2Xu4XJR9JTMffF8v5gZoapgYABGXasBaFxqjA3EDXo91mOZy7B+NPmcgb1ZKWbk2LTGFP2w5IRVGpcVhP4j2sSzxjOUg9iffULrHpUFKh7PSE88vjLE5RCkh2aQTjHPVafkOtSCQfB4Vwzylw0ZRWKb9dnEiyoQGOon1oxZsFdFbJmmBePGkZGGc4Iaq+GoYWo6ZbyuwXZCH7HBo9qiK6N/XdkJfaqC7GRLY7tI5r3seMszyhW3X4st2hlb5eWh9fspNOtX2jCpEu/RRTpvmvPMiH9MqxEDbbhgv5VVjMXZMS0VL6oWUwtqhBiWhew8zi9WqiTIVhDQq1Btz8N7s6iiEZowZ7qfSI5gh7ValfHmheyyETKLIQVY1AVNMpGhG5NdNR0aquIiVhQ41I/LqKlLBZMxJRUNtZL7ZpROFA9vw+gbZroBX1GjZlvolPEtRubUi9FTx4iTTmgizqvPEGRCt6z46cSQC91XwYD4yFWudgRBGt/dSs+VmnQrJsoGIXdbNcmVUReh0TpzsgPspZ02hc1OgMExgUlmo9UWrlBysyw4zhiiDpI3LXQGVAA0AxYseBLT6bSB6RZJ41P7c6IPBHAQcAfnBny4XkAKCJJlQgOqawHUsgyA7hSN3e/gj7lKsqAdrJyct/RVjbRndNCRh3aJu6FErfFn0ABPUsDiO9sasp8L4WZ1/DZsUjOC19NiSLwKjBEibGvIaoVHiKBiXiQjl8+dg0W8mZSl/il3n0PgtGmHIgsUIQemu6VDWEMq0NIpvmLxcxDpE8n4E+2lC0DXieIiX50N1WlOI2YIOkeA1U6yr3U7SZlI6KGnYUSVi40asWicigDYPwgqG5Wc5D5SLi7SpUDXGVsQpnjITYcs8ZFsCgfHjcAK9EJvlq2tWnQi1w/enKi8qmDyN91swKcAYMSukfXjL7DRG/zq20vIA5K2lYkb6VnmVZAsoXJUciIm0WCNosKrvET7bNh9uPAGaXdouItNfIAONTUjK0QUj/au3VPsxYlvf4JGrprTAcrHCPSoemIhZtZKv3JYCZu9ErWJRCY9amaPuMQa1g66kV7D8RMmydlwCKsf25e1rNObvAtYzqZHnUXH9nANaoPRx/VDSdQGhaeYXAnNicmpZmmaamYYMHc3+6i4vuVDPxRWo0yliESRbAvz7IhzcYrHYD7z2qNjUhrmxlNL0kA4ph+bqe2NaucEqPdq6s0l35oCJkqU7WD9G/9kyVrMOiGrv5jegPn0abZvOG5VZ7ZgYti1RAlQqY9kavpLOK5ouWTy6waA5g4bL8epMwVZ4PbeqfSYDCbEfKxKFIR5uR1dppkhIX0raC5TvSCzj82Nmggc8to+035QCz3KWXf0ZIyM4PWHvXKa4AeizKjDKudccx3sd0xk0KHbpZUswuDPfv4iODdUW7/2aBJaKz7qi7AAxr/M0ZD8SwJCfiK5vO3yCk6+vFcmZT88X9Ta3GEI3JGOb21z9/OZluNgvBZjpZbodzO6QapUaH1SUAAEoZxliLEV/jC9RauC7xyy+//FI13fO/+eD/B3ert3QnpCrAVhrK9K8LGCn1lMtsDDpTnDbPtMvDHGXc1rWSasBjxWtPAqAMNE9Re25pVEXtxqWzBQFXKOy1qWGOUDjo80DUBkKhKrlwbZMAV2OFdZQ5b4j4AjShsMfdVHTSWKHa2+AbbPWkcNKRNfbcaJOzQlXpZyPCSVz8m9PP2BQ73wr72ojqj8JejkRtklCoNnYgXB5wvsLurLCHPtEcXClUh30zNvhyn+tFoXroVz+Fg3qr0OuXsdG8O4XqtE9D0Zyq9wpViTdD1o2ZuEYyoVCd98Xa4OS9YEmF6qgfEvFIfaSwHxKvBd4oVKVeYloP5s3VdTcKu29uzNu7am8VqtNnl4i2HtCmt4LuFKreobuDER/ui//dKxQxajsy53MD5jBFTZpCdRB0sKuCFqTWA0pVKKbESse6KmDlwSW1DxSqqqN0qB1BUx5ehv1QoWjHwOxEQiFQzX5yyfAThWI8DrnWnvMsqQAzQ/9pPa6nCmORjgsajpMom9ZyAwBlWAPXeVVu7JXCGG/szEZ22KbsKR7ao5kzzlL69n8tTJnZrmUOXAAAAABJRU5ErkJggg==);
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: cover;
    margin-right: 5px; */
}