body {
    margin: 0;
}

/* .container {
    width: 100%;
    height: 100px;
    background-color: red;
    position: sticky;   
    top: 0; 
}

.content {
    height: 300vh;
} */

.container {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: seagreen;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}